<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style-home.css">
</head>
<body>
    <nav>
        <span id="logo">
            <img src="/static/logo.jpg" alt="">
        <P  id="nav-text">Expert Tech Support at Your Service</P>
        </span>
    </nav>
    <div id="main-body">,
<div class="cards" ID="LEFT-CARD">
    <p class="card-text">Admin Login</p>
    <button>
    <a href="/admin">Click here</a></button>
</div>
<div class="cards">
    <p class="card-text">Existing Query Status</p>
    <button>
    <a href="/exist">Click here</a></button>
</div>
<div class="cards">
    <p class="card-text">New Query</p>

    <button><a href="/new">Click here</a></button></div>
    </div>
</body>
</html>