<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style-home.css">
</head>
<body>
    <nav>
        <span id="logo">
            <img src="/static/logo.jpg" alt="">
        </span>
        <span id="navbar-details">
        <P  id="nav">Expert Tech Support at Your Service</P>
        </span>
    </nav>
    <div>
        <div>
        

        </div>
    </div>
</body>
</html>