
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issues</title>
    <link rel="stylesheet" href="/static/query.css">
</head>
<body>
    <div id="navbar">
        <a href="/"><img id="logo" src="/static/logo.jpg" alt=""></a>
        <p>Expert Tech Support at Your Service</p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <main>
        <header>
            <h1>Issue-Tracker</h1>
            <span>
                <a href="/admin" class='adminlog' >Admin</a>
            </span>

        </header>
        <div class="form-container">
            <div class="left-container">
                <h1 id="side-text">
                    READY TO SERVE YOU.. <br>24/7
                    <br><br>
                </h1>
                <div class="help">
                    <img width="252" src="/static/img.jpg" alt="Help Image">
                </div>
            </div>
            <div class="form-wrapper">
                <div class="form-header">
                    <h1 id="Form-head">Please submit your Issues to the admin</h1>
                </div>
                <div class="form-input">
                    <form action="/new" method="post">
                        <input type="text" name="name" placeholder="Your Full Name">
                        <input type="email" name="email" id="email" placeholder="Your Email address">
                        <input type="tel" name="number" id="number" placeholder="Contact Number">
                        <select name="subject" id="s3">
                            <option value aria-placeholder="Choose Issue Subject">Choose Issue Subject</option>
                            <option value="Light Fixture not working">Light Fixture not working</option>
                            <option value="Exhaust fan not working">Exhaust fan not working</option>
                            <option value="Ceiling Fan not working">Ceiling Fan not working</option>
                            <option value="Switchboard/socket not working">Switchboard/socket not working</option>
                            <option value="Corridor light fixture not working">Corridor light fixture not working</option>
                            <option value="MCB tripping">MCB tripping</option>
                            <option value="Others">Others</option>
                            <option value="Parking light fixture not working">Parking light fixture not working</option>
                            <option value="Parcel/garden light fixture not working">Parcel/garden light fixture not working</option>
                            <option value="Street light not working">Street light not working</option>
                            <option value="Fire fighting">Fire fighting</option>
                        </select>
                        <textarea name="issue" id="issue" rows="5" cols="50" placeholder="Explain Your Issue Briefly"></textarea>
                        <div id="file-container">
                            <h3>Upload an image</h3>
                            <input type="link" name="link" placeholder="Media link">
                        </div>
                        <input type="submit" id="button" >
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>